.itemCard-container {
  background-color: #1a3956;
  color: white;
  height: 300px;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-size: 30px;
  .top {
    display: flex;
    justify-content: space-between;
  }

  .bottom {
    display: flex;
  }
}
