.navbar {
  display: flex;
  justify-content: space-between;

  .left {
    display: flex;
    align-items: center;
    img {
      max-width: 100px;
    }

    span {
      font-size: 2.3rem;
    }
  }

  .right {
    display: flex;
    align-items: center;
  }
}
